<!DOCTYPE html>

<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css" media="">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>
    <%=title%>
  </title>



</head>
<style media="screen">

  table
  {
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  }

  a:link, a:visited
  {
    text-decoration: none;
  }

  .edit{
    background-color: green;
  }

  .delete{
    background-color: red;
  }
</style>
<body>
<h1>BREAD : NOBODY DOES IT BETTER</h1>
   <div id=menu>
      <bold><a href="/">HOME</a></bold> | <bold><a href="add">ADD</a></bold>
   </div>

   <br><br>

   <div>

     <table>
       <thead>
         <tr>
            <th>ID</th>
            <th>STRING</th>
            <th>INTEGER</th>
            <th>FLOAT</th>
            <th>DATE</th>
            <th>BOOLEAN</th>
            <th colspan="2">ACTION</th>
          </tr>
      </thead>
      <tbody>
        <%
        for (i=0; i<data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].string %></td>
          <td><%= data[i].integer %></td>
          <td><%= data[i].float %></td>
          <td><%= data[i].date %></td>
          <td><%= data[i].boolean %></td>
          <td><a href="/edit/<%= data[i].id %>" class="edit">Edit</a></td>
          <td><a href="/delete/<%= data[i].id %>" class='delete' onclick="return confirm('Uvuvwevwevwe Onyetenyevwe Ungwemubwem Osas?');">Delete</a></td>
        </tr>
      <% } %>
      </tbody>

     </table>

   </div>

</body>

</html>
