<!DOCTYPE html>
<html>

  <% include partials/head %>

  <body>

  <% include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 align="center">CRUD</h1>
      <h2 align="center"> Create, Read, Update, Delete</h2>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
      <th>ID</th>
      <th>String</th>
      <th>Integer</th>
      <th>Float</th>
      <th>Date</th>
      <th>Boolean</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% if(data.length >=0) { %>
       <% for(var i = 0; i<data.length; i++) {%>
         <tr>
           <td> <%= data[i].id %> </td>
           <td> <%= data[i].string %> </td>
           <td> <%= data[i].integer %> </td>
           <td> <%= data[i].float %> </td>
           <td> <%= data[i].date %> </td>
           <td> <%= data[i].bool %> </td>
           <td><button type="button" class="btn btn-success"> <a href='/edit/<%= data[i].id %>'>Edit</a></button> <button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')";><a h`ref='/delete/<%= data[i].id %>'>Delete</a></button></td>
        </tr>
        <% } %>
      <% } else { %>
        <p>no data</p>
      <% }%>
    </tbody>

  </table>
  <button type="button" class="btn btn-primary"><a colo'white' href='/add'>Tambah</a></button>
  </form>

<% include partials/footer %>
