<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>JSON BREAD</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
  <h2>Filters</h2>

  <form action="/action_page.php" method="get" class="form-horizontal">
    <form action="/action_page.php" method="get">
      <!-- <input type="checkbox" name="tipe" value=""> ID <input type="text" name="teks" value="ID"><br>
      <input type="checkbox" name="tipe" value=""> String<input type="text" name="teks" value="String"><br>
      <input type="checkbox" name="tipe" value=""> Integer<input type="text" name="teks" value="Integer"><br>
      <input type="checkbox" name="tipe" value=""> Float<input type="text" name="teks" value="Float"><br>
      <input type="checkbox" name="tipe" value=""> Date<input type="date" name="teks" value="Date"><br>
      <input type="checkbox" name="tipe" value="" > Boolean<select><option value="boolean">Choose the boolean</option> <option value="true">True</option> <option value="false">False</option></select></br>
      <button type="submit" class="btn btn-primary">Search</button> -->
    <!-- <div class="form-group">
      <label for="string" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> ID
          </label>
        </div><input type="text" name="string" class="form-control" id="id" placeholder="ID">
      </div>
    </div>

    <div class="form-group">
      <label for="string" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> String
          </label>
        </div><input type="text" name="string" class="form-control" id="string" placeholder="String">
      </div>
    </div>

    <div class="form-group">
      <label for="float" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Float
          </label>
        </div><input type="float" name="float" class="form-control" id="float" placeholder="Float">
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Date
          </label>
          <input type="date" name="date" class="form-control" id="date" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="boolean" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Boolean
            </label>
            <select name="boolean" class="form-control"  >
              <option class="form-control" value="true">True</option>
              <option  class="form-control" value="false">False</option><br/>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div> -->
      </form>


      <table class="table">
        <tr>
          <th>ID</th>
          <th>String</th>
          <th>Integer</th>
          <th>Float</th>
          <th>Date</th>
          <th>Boolean</th>
          <th>Actions</th>
        </tr>

        <% for(var i=0; i<data.length; i++) {%>
          <tr>
            <td> <%= data[i].id %></td>
            <td> <%= data[i].string %> </td>
            <td> <%= data[i].integer %> </td>
            <td> <%= data[i].float %> </td>
            <td> <%= data[i].date %> </td>
            <td> <%= data[i].boolean %> </td>  <td>
              <button type="submit" class="btn btn-danger" onClick="location.href='edit/<%= data[i].id %>'" value="Submit" a >Edit</button>
              <!--  <button type="submit" onclick="return confirm('anda yakin?');" class="btn btn-warning" onClick="location.href='delete/<%= data[i].id %>'" value="submit">Delete</button> -->
              <a href="delete/<%= data[i].id%>"onclick="return confirm('anda yakin?');"><button class="btn btn-success" type="button" name="button">Delete</button></a>
            </td>
          </tr>
          <% } %>
        </table>

      </head>
      <body>




        <div class="left">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">Previous</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">Next</a>
            <a href="#">&raquo;</a>
          </div>
        </div>

        <button class="btn btn-success" type="submit" onClick="location.href='add'" value="Submit" a >Add</button>

      </body>
      </html>
